<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="dist/vue.js"></script>    
</head>
<body>
    use vue
    <div id="app">
        <div v-if="name">{{name}}</div>
        <div>{{count}}</div>
        <div @click="addCount()">click here</div>
        <div v-for="i in arrData">{{i}}</div>
        <div>{{objData.u}}</div>
    </div>
    <script>
        var myVm = new Vue({
            el: '#app',
            data: function() {
                return {
                    name: 'hello world',
                    width: '10px',
                    count: 1,
                    arrData: ['o', 'p', 'q', 'r', 's', 't'],
                    objData: {
                        'u': 'uuu',
                        'v': 'vvv',
                        'w': 'www',
                        'x': {
                            'a': 'aaa',
                            'b': 'bbb',
                            'c': {
                                'd': 'ddd'
                            },
                            'e': ['e1', 'e2', 'e3']
                        }
                    }
                }
            },
            methods: {
                setName: function() {
                    this.name = 'hello world 2222'
                },
                addCount: function() {
                    this.count = this.count + 1;
                }
            },
            watch: {
                name: function() {
                    this.width = '10px 2222';
                }
            },
            mounted: function() {
                console.log('in index.html: ');
                console.log(this);
            }
        });

    </script>
</body>
</html>